<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />

    {% hook "seo" %}

    {# Cachebust the CSS/JS #}
    {% set assetVersion = craft.app.config.env == "dev" ? date().getTimestamp() : 0.001 %}
    {# Until we're live, cachebust all assets #}
    {#{% set assetVersion = date().getTimestamp() %}#}

    {% do view.registerCssFile("/assets/css/main.css?v="~assetVersion) %}

</head>
    <body class="flex flex-wrap {{ entry is defined ? entry.title|lower : "charlotte" }}-page font-sans subpixel-antialiased overflow-y-scroll relative h-screen text-lg md:text-3xl lg:text-4xl p-8">

    <header id="header" class="md:flex w-full">
        {% include 'includes/header' %}
    </header>

    <main class="flex relative">
		{% block content %}
		{% endblock %}
	</main>

    <footer id="footer" class="md:flex flex-wrap w-full md:w-auto md:fixed md:bottom-0 md:inset-x-0 md:m-8">
        {% include 'includes/footer' %}
    </footer>

</body>
</html>
