<div class="w-full md:w-1/2">
    <a href="mailto:{{ entry.email }}">{{ entry.email }}</a>
</div>
<div class="w-full md:w-1/2 md:text-right">
    <a href="tel:{{ entry.phone|replace({' ': ''}) }}">{{ entry.phone }}</a>
</div>
