@tailwind base;

@font-face {
    font-family: 'Untitled';
    src: url('/assets/fonts/UntitledSansWeb-Regular.eot');
    src: url('/assets/fonts/UntitledSansWeb-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/UntitledSansWeb-Regular.woff') format('woff'),
        url('/assets/fonts/UntitledSansWeb-Regular.ttf') format('truetype');
}

@tailwind components;

@tailwind utilities;
